body {
  color: white;
}
.navi {
  background-color: red;
}
.navi-text {
  color: white;
  padding-left: 5px;
  text-align: center;
}
.pokeCard {
  text-align: center;
  background-color: #121212;
  border-radius: 10px;
  color: white;
  margin: 5px;
  text-transform: capitalize;
  width: 50%;
  max-width: 400px;
  min-width: 400px;
  height: 500px;
  flex: 0 0 auto;
}

.container {
  color: white;
}

.pokeCardWrapper {
  color: white;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.pokeCardWrapper::-webkit-scrollbar {
}
#poke-Image {
  width: 200px;
  min-width: 20%;
}
.poke-id {
  position: absolute;
  margin: 15px;
  font-weight: bold;
}

/* Pokemon Color Types */
.pokemon-grass {
  background-color: #78c850;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-grass {
  background-color: #78c850;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-fire {
  background-color: #f08030;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-fire {
  background-color: #f08030;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-water {
  background-color: #6890f0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-water {
  background-color: #6890f0;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-poison {
  background-color: #a040a0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-poison {
  background-color: #a040a0;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-flying {
  background-color: #90aad7;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-flying {
  background-color: #90aad7;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-bug {
  background-color: #a8b820;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-bug {
  background-color: #a8b820;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-normal {
  background-color: #a8a878;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-normal {
  background-color: #a8a878;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-electric {
  background-color: #f8d030;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-electric {
  background-color: #f8d030;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-ground {
  background-color: #e0c068;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-ground {
  background-color: #e0c068;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-fairy {
  background-color: #ee99ac;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-fairy {
  background-color: #ee99ac;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-fighting {
  background-color: #c03028;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-fighting {
  background-color: #c03028;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-psychic {
  background-color: #f85888;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-psychic {
  background-color: #f85888;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-rock {
  background-color: #b8a038;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-rock {
  background-color: #b8a038;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-ghost {
  background-color: #705898;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-ghost {
  background-color: #705898;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-ice {
  background-color: #98d8d8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-ice {
  background-color: #98d8d8;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
.pokemon-dragon {
  background-color: #7038f8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.pokemon-type-dragon {
  background-color: #7038f8;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
