.navi {
    background-color: red;
}
.navi-text {
    color: white;
    padding-left: 5px;
    text-align: center;
}
.card { 
    text-align: center;
    background-color: black;
    outline: grey;
    border-radius: 10px;
    padding: 10px;
}
.poke-name {
    text-transform: capitalize;
}
.poke-type-one {
    text-transform: capitalize;
}
.poke-type-two {
    text-transform: capitalize;
}