* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}
.pokeCard {
  text-align: center;
  background-color: #3f3351;
  border-radius: 10px;
  color: white;
  margin: 5px;
  text-transform: capitalize;
  flex: 0 0 auto;
}
.hidden {
  display: none;
}
